# ------------------------------------------------------------------------------ #
# Java defaults (https://github.com/github/gitignore/blob/master/Java.gitignore) #
# ------------------------------------------------------------------------------ #
*.class

# Package Files #
*.jar
*.war
*.ear

# ------------------------------------------------------------------------------------------- #
# Eclipse-specific (https://github.com/github/gitignore/blob/master/Global/Eclipse.gitignore) #
# ------------------------------------------------------------------------------------------- #
*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.project
.classpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# --------------- #
# Studio-specific #
# --------------- #
target/
.mule/**
.mule/**/*
.DS_Store
velocity.log
.idea/libraries/*
.idea/$CACHE_FILE$
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries/Maven__com_damnhandy_handy_uri_templates_2_1_6.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_10_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_10_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_10_1.xml
.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_jsonSchema_2_10_0.xml
.idea/libraries/Maven__com_github_amlorg_amf_aml_2_12_4_1_68_0.xml
.idea/libraries/Maven__com_github_amlorg_amf_client_2_12_4_1_0_2.xml
.idea/libraries/Maven__com_github_amlorg_amf_core_2_12_4_1_59_0.xml
.idea/libraries/Maven__com_github_amlorg_amf_validation_2_12_4_1_0_2.xml
.idea/libraries/Maven__com_github_amlorg_amf_webapi_2_12_4_1_0_2.xml
.idea/libraries/Maven__com_github_andrewoma_dexx_collection_0_7.xml
.idea/libraries/Maven__com_github_everit_org_json_schema_org_everit_json_schema_1_9_2.xml
.idea/libraries/Maven__com_github_fge_btf_1_2.xml
.idea/libraries/Maven__com_github_fge_jackson_coreutils_1_8.xml
.idea/libraries/Maven__com_github_fge_msg_simple_1_1.xml
.idea/libraries/Maven__com_github_fge_uri_template_0_9.xml
.idea/libraries/Maven__com_github_java_json_tools_json_schema_core_1_2_8.xml
.idea/libraries/Maven__com_github_java_json_tools_json_schema_validator_2_2_8.xml
.idea/libraries/Maven__com_github_jsonld_java_jsonld_java_0_12_3.xml
.idea/libraries/Maven__com_github_scopt_scopt_2_12_3_7_0.xml
.idea/libraries/Maven__com_google_code_findbugs_annotations_3_0_0.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_3_0_2.xml
.idea/libraries/Maven__com_google_errorprone_error_prone_annotations_2_3_2.xml
.idea/libraries/Maven__com_google_guava_failureaccess_1_0_1.xml
.idea/libraries/Maven__com_google_guava_guava_28_1_jre.xml
.idea/libraries/Maven__com_google_guava_listenablefuture_9999_0_empty_to_avoid_conflict_with_guava.xml
.idea/libraries/Maven__com_google_j2objc_j2objc_annotations_1_3.xml
.idea/libraries/Maven__com_google_re2j_re2j_1_1.xml
.idea/libraries/Maven__com_googlecode_juniversalchardet_juniversalchardet_1_0_3.xml
.idea/libraries/Maven__com_googlecode_libphonenumber_libphonenumber_8_0_0.xml
.idea/libraries/Maven__com_ibm_icu_icu4j_64_2.xml
.idea/libraries/Maven__com_rackspace_apache_xerces2_xsd11_2_11_2.xml
.idea/libraries/Maven__com_rackspace_eclipse_webtools_sourceediting_org_eclipse_wst_xml_xpath2_processor_2_1_100.xml
.idea/libraries/Maven__com_sun_activation_jakarta_activation_1_2_1.xml
.idea/libraries/Maven__com_sun_activation_javax_activation_1_2_0.xml
.idea/libraries/Maven__com_sun_mail_jakarta_mail_1_6_3.xml
.idea/libraries/Maven__com_sun_xml_bind_jaxb_core_2_3_0_1.xml
.idea/libraries/Maven__com_sun_xml_bind_jaxb_impl_2_3_1.xml
.idea/libraries/Maven__com_takeda_takeda_domain_onprem_mule_domain_1_0_0.xml
.idea/libraries/Maven__com_thoughtworks_paranamer_paranamer_2_8.xml
.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_9_3.xml
.idea/libraries/Maven__commons_cli_commons_cli_1_4.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_11.xml
.idea/libraries/Maven__commons_collections_commons_collections_3_2_2.xml
.idea/libraries/Maven__commons_digester_commons_digester_1_8_1.xml
.idea/libraries/Maven__commons_fileupload_commons_fileupload_1_4.xml
.idea/libraries/Maven__commons_io_commons_io_2_6.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__commons_validator_commons_validator_1_6.xml
.idea/libraries/Maven__edu_princeton_cup_java_cup_10k.xml
.idea/libraries/Maven__io_projectreactor_reactor_core_3_2_0_M1.xml
.idea/libraries/Maven__javax_activation_javax_activation_api_1_2_0.xml
.idea/libraries/Maven__javax_annotation_javax_annotation_api_1_3_2.xml
.idea/libraries/Maven__javax_json_javax_json_api_1_0.xml
.idea/libraries/Maven__javax_validation_validation_api_1_1_0_Final.xml
.idea/libraries/Maven__javax_xml_bind_jaxb_api_2_3_1.xml
.idea/libraries/Maven__joda_time_joda_time_2_9_7.xml
.idea/libraries/Maven__net_sf_jopt_simple_jopt_simple_5_0_3.xml
.idea/libraries/Maven__org_antlr_antlr4_runtime_4_5_3.xml
.idea/libraries/Maven__org_apache_commons_commons_compress_1_18.xml
.idea/libraries/Maven__org_apache_commons_commons_csv_1_5.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_6.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_5_10.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_cache_4_5_5.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_4_1.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpmime_4_5_10.xml
.idea/libraries/Maven__org_apache_jena_jena_arq_3_11_0.xml
.idea/libraries/Maven__org_apache_jena_jena_base_3_11_0.xml
.idea/libraries/Maven__org_apache_jena_jena_core_3_11_0.xml
.idea/libraries/Maven__org_apache_jena_jena_iri_3_11_0.xml
.idea/libraries/Maven__org_apache_jena_jena_shaded_guava_3_11_0.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_api_2_11_2.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_core_2_11_2.xml
.idea/libraries/Maven__org_apache_logging_log4j_log4j_slf4j_impl_2_11_2.xml
.idea/libraries/Maven__org_apache_thrift_libthrift_0_13_0.xml
.idea/libraries/Maven__org_apache_ws_xmlschema_xmlschema_core_2_2_1.xml
.idea/libraries/Maven__org_checkerframework_checker_qual_2_8_1.xml
.idea/libraries/Maven__org_codehaus_mojo_animal_sniffer_annotations_1_18.xml
.idea/libraries/Maven__org_glassfish_javax_json_1_0_4.xml
.idea/libraries/Maven__org_javassist_javassist_3_26_0_GA.xml
.idea/libraries/Maven__org_json4s_json4s_ast_2_12_3_5_4.xml
.idea/libraries/Maven__org_json4s_json4s_core_2_12_3_5_4.xml
.idea/libraries/Maven__org_json4s_json4s_native_2_12_3_5_4.xml
.idea/libraries/Maven__org_json4s_json4s_scalap_2_12_3_5_4.xml
.idea/libraries/Maven__org_json_json_20180130.xml
.idea/libraries/Maven__org_mozilla_rhino_1_7R4.xml
.idea/libraries/Maven__org_mule_amf_amf_xml_extension_2_12_1_6_0.xml
.idea/libraries/Maven__org_mule_apikit_parser_service_2_0_7.xml
.idea/libraries/Maven__org_mule_apikit_raml_parser_interface_2_0_7.xml
.idea/libraries/Maven__org_mule_apikit_raml_parser_interface_impl_amf_2_0_7.xml
.idea/libraries/Maven__org_mule_apikit_raml_parser_interface_impl_v1_2_0_7.xml
.idea/libraries/Maven__org_mule_apikit_raml_parser_interface_impl_v2_2_0_7.xml
.idea/libraries/Maven__org_mule_common_scala_common_2_12_0_5_68.xml
.idea/libraries/Maven__org_mule_connectors_mule_http_connector_mule_plugin_1_5_6.xml
.idea/libraries/Maven__org_mule_connectors_mule_sockets_connector_mule_plugin_1_1_5.xml
.idea/libraries/Maven__org_mule_modules_mule_apikit_module_mule_plugin_1_3_12.xml
.idea/libraries/Maven__org_mule_modules_mule_module_cors_kernel_1_1_2.xml
.idea/libraries/Maven__org_mule_syaml_syaml_2_12_0_7_276.xml
.idea/libraries/Maven__org_raml_raml_parser_0_8_39.xml
.idea/libraries/Maven__org_raml_raml_parser_2_1_0_49.xml
.idea/libraries/Maven__org_raml_yagi_1_0_49.xml
.idea/libraries/Maven__org_reactivestreams_reactive_streams_1_0_2.xml
.idea/libraries/Maven__org_reflections_reflections_0_9_12.xml
.idea/libraries/Maven__org_scala_lang_modules_scala_java8_compat_2_12_0_8_0.xml
.idea/libraries/Maven__org_scala_lang_modules_scala_xml_2_12_1_0_6.xml
.idea/libraries/Maven__org_scala_lang_scala_library_2_12_11.xml
.idea/libraries/Maven__org_slf4j_jcl_over_slf4j_1_7_26.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_25.xml
.idea/libraries/Maven__org_topbraid_shacl_1_3_0.xml
.idea/libraries/Maven__org_yaml_snakeyaml_1_23.xml
.idea/libraries/Maven__xml_apis_xml_apis_1_4_01.xml
.idea/libraries/Maven__xml_resolver_xml_resolver_1_2.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
ddb-template-fullautomation-mulesoft.iml
.idea/libraries/Maven__com_google_code_gson_gson_2_6_2.xml
.idea/libraries/Maven__com_mulesoft_munit_munit_common_2_2_5.xml
.idea/libraries/Maven__com_mulesoft_munit_munit_runner_mule_plugin_2_2_5.xml
.idea/libraries/Maven__com_mulesoft_munit_munit_tools_mule_plugin_2_2_5.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_all_1_3.xml
.idea/libraries/Maven__org_mockito_mockito_core_1_10_19.xml
.idea/libraries/Maven__org_mule_weave_assertions_1_0_0.xml
.idea/libraries/Maven__org_mule_weave_wlang_2_2_0.xml
.idea/libraries/Maven__org_objenesis_objenesis_2_1.xml
.idea/libraries/Maven__org_scala_lang_scala_library_2_12_7.xml
.idea/workspace.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_6_2.xml
.idea/libraries/Maven__com_mulesoft_munit_munit_common_2_2_5.xml
.idea/libraries/Maven__com_mulesoft_munit_munit_runner_mule_plugin_2_2_5.xml
.idea/libraries/Maven__com_mulesoft_munit_munit_tools_mule_plugin_2_2_5.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_all_1_3.xml
.idea/libraries/Maven__org_mockito_mockito_core_1_10_19.xml
.idea/libraries/Maven__org_mule_weave_assertions_1_0_0.xml
.idea/libraries/Maven__org_mule_weave_wlang_2_2_0.xml
.idea/libraries/Maven__org_objenesis_objenesis_2_1.xml
.idea/libraries/Maven__org_scala_lang_scala_library_2_12_7.xml
.idea/workspace.xml
*.html
*.css
*.svg
*.ttf
*.js
.idea/jarRepositories.xml
.jfrog/projects/maven.yaml
